@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

body{
    background-color: #EFEFEF;
}
//nav
.bg-light {
    --bs-bg-opacity: none;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
    padding-left: 60px;
    max-width: 1281px;
    width: 100%;
    margin: 0;
    
    
  
}

.navbar-expand-lg .navbar-collapse{
    justify-content: space-between;
}

.navbar-light .navbar-brand{
    color: #E92569;
    padding: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-style: italic;
    
    
    
    

    
}

.navbar-light .navbar-nav .nav-link{
   color: #0A0A0A;
  
   
}

.active{
    background-color:#fff;
}
.btn{
    background-color: #E92569;
    
}
.btn-outline-success {
    color: #EFEFEF;
    border-color: #E92569;
}

.btn:hover{
    color: #efefef;
    background-color: #E92569;
    border-color:#EFEFEF ;
}





//HeroSLider

.carousel{
    max-width: 1281px;
    width: 100%;
    margin: auto;
}


.carousel-indicators [data-bs-target]{
    height: 30px;
    color: white;
    opacity: 1;
    border-radius: 6px;
    border: 0;
    margin: 10px;
    
}
.carousel-indicators .active {
    background-color: #E92569;
}

.carousel-control-prev {
    display: none;
}

.carousel-control-next {
    display: none;
}
//Intro

h2{
    color: #E92569;
    padding-top: 50px;
    max-width: 1281px;
    width: 100%;
    margin: auto;
    
    
    
   
}

p{
    
    color: #767676;
    padding-top: 30px;
    max-width: 1281px;
    width: 100%;
    margin: auto;

}

//tab

.mb-3{
    padding-top: 20px;
    max-width: 1281px;
    width: 100%;
    margin: auto;
    color: #EFEFEF;
    
}
.nav-link{
    color: #E92569;
}

.tab-content{
    
    max-width: 1281px;
    width: 100%;
    margin: auto;
  
    
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #EFEFEF;
    
}

span{
    color: #242424;
}

.accordion-body{
    background-color: #EFEFEF;
}

.tab-content-row{
  
    
    
   
}



//image-cards

.Header-intro{
    background-color: #EFEFEF;
    max-width: 1281px;
    width: 100%;
    margin: auto;
}

.btn-toolbar{
    background-color: #EFEFEF;
    max-width: 1281px;
    width: 100%;
    margin: auto;
    margin-top: 1rem;
    

}



.btn-primary{
    background-color: white;
    width: 100%;
    color:#E92569 ;
    border-color: #E92569;
}


h1{
    text-align: center;
    color:#E92569 ;
}
.card-img-top{
    border-radius: 5px;
    
}
.card{
    margin-top: 3rem;
    border-radius: 10px;
    
    

   
    

}










//contact

.form-check .form-check-input{
    height: 20px;
    width: 20px;
    border-radius: 3px;
    border: 4;
    background-color: #E92569;
   

}

.form-check-label{
    color: #767676;
    padding-left: 10px;
}



//footer

.main-footer {
    color: #767676;
    background-color: white;
    margin-top: 2rem;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    
    

  }





  
  
  